body{
  background-color: #222831;
}

.registration {
  padding-top: 15vh;
  padding-bottom: 10vh;
  background-color: #222831;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form {
  background-color: #31363F;
  overflow: hidden;
  padding-bottom: 5vh;
  padding-top: 5vh;
  height: 80%;
  width: 30vw;
  display: flex;
  border: black solid 1px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.register-button {
  width: 50%;
  color: white;
  height: 3rem;
  border: 0;
  border-radius: 40px;
  background-color: rgb(95,46,172);
  cursor: pointer;
}


.register-button:active{
  background-color: rgb(95, 51, 175);
  color: white;
}

.registration-header{
  color: white;
  font-weight: bold;
}

mat-form-field {
  width: 80%;
}

input[matInput] {
  width: 100%;
  align-self: center;
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
}

p{
  color: white;
}

a{
  font-weight: bold;
  color: rgb(136, 71, 255);
}
