.container {
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 70%;
}

.details {
  background-color: #31363F;
  display: flex;
  margin-top: 1rem;
  padding: 2.5%;
  flex-direction: column;
  color: white;
  width: 85%;
  height: 100%;
  border-radius: 1rem;
}

.rating h2{
  color: white;
}

.player-tv-show {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.info-holder {
  display: flex;
  flex-direction: column;
  padding: 15px 1rem;
  width: 25%;
  background-color: #31363F;
  border-radius: 0.5rem;
  gap: 1rem;
}

.download-button {
  width: 100%;
}

.button-holder {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.admin-button-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 30%;
}

.admin-button-holder button {
  width: 50%;
}

button[mat-raised-button]{
  border-radius: 20px;
  background-color: rgb(95,46,172);
  color: white;
}

.episodes {
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.episode {
  padding-left: .5em;
  padding-right: .5em;
  align-items: center;
  list-style-type: none;
  height: 3rem;
  display: flex;
  color: white;
}

.episode:hover {
  cursor: pointer;
  background-color: #2d3239;
}

.tv-show{
  margin: 1rem;
  border-radius: 1rem;
  background-color: #31363F;
  width: 85%;
  justify-content: space-between;
  display: flex;
  padding: 2.5%;
}

h2 {
  color: white;
}

.sub-button {
  background-color: rgb(95,46,172);
  color: white;
  margin-left: .75rem;
  border-radius: 100%;
  border: none;
  padding: .25em;
  transition-duration: 400ms;
}

.sub-button:hover {
  background-color: white;
  color: rgb(95,46,172);
  cursor: pointer;
  transition-duration: 400ms;
}

.tv-show-episodes {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 1.5rem;
}

.tv-show-details {
  width: 25%;
  color: white;
  overflow: auto;
}

.rating-icon {
  font-size: 2em;
  color: rgb(95,46,172);
  cursor: pointer;
  padding: 0.4rem;
  transition-duration: 500ms;
  transition-delay: 100ms;
  border: none;
}

.rating-icon:hover {
  color: white;
  background-color: rgb(95,46,172);
  border-radius: 100%;
  border: none;
  transition-duration: 500ms;
}

.rating{
  background-color: #222831;
  border-radius: 2rem;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0.2rem;
}
