<div class="create-show">
    <div class="create">
        <p class="page-title">Create show</p>
        <form class="showForm" [formGroup]="showGroup">
            <mat-form-field>
                <mat-label>Title</mat-label>
                    <input matInput type="text" formControlName="title" maxlength="64">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="description" maxlength="300">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Genres</mat-label>
                    <input matInput type="text" formControlName="genres" maxlength="300">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Actors</mat-label>
                    <input matInput type="text" formControlName="actors" maxlength="300">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Directors</mat-label>
                    <input matInput type="text" formControlName="directors" maxlength="300">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Year</mat-label>
                    <input matInput type="text" formControlName="year" maxlength="4" pattern="^[0-9]+$">
            </mat-form-field>
        </form>

        <button mat-flat-button class="inputButton" color="primary" id="continue">Create</button>
    </div>
</div>
